    </div>

    <div class="server-flags">
      <strong>Server Configuration</strong>
      <br>
      AMP: <%- serverConfig.ampMode %>
      <br>
      Render Mode: <%- serverConfig.renderMode %>
      <br>
      Update Method: <%- serverConfig.updateMode %>
    </div>

    <div class="samples-list">
      <strong>All Samples:</strong>
      <br>
      <a class="external" href="https://server-dot-indexable-pwa.appspot.com">Server Rendered</a>
      <br>
      <a class="external" href="https://client-dot-indexable-pwa.appspot.com">Client Rendered</a>
      <br>
      <a class="external" href="https://hybrid-dot-indexable-pwa.appspot.com">Hybrid Rendered</a>
    </div>
  </body>
</html>
