    </div>

    <div class="server-flags">
      <strong>Server Configuration</strong>
      <br>
      AMP: <%- serverConfig.ampMode %>
      <br>
      Render Mode: <%- serverConfig.renderMode %>
      <br>
      Update Method: <%- serverConfig.updateMode %>
    </div>

    <div class="samples-list">
      <strong>All Samples:</strong>
      <br>
      <a href="https://indexable-server-pwa.herokuapp.com">Server Rendered</a>
      <br>
      <a href="https://indexable-client-pwa.herokuapp.com">Client Rendered</a>
      <br>
      <a href="https://indexable-hybrid-pwa.herokuapp.com">Hybrid Rendered</a>
      <br>
      <a href="https://indexable-paired-pwa.herokuapp.com">Paired AMP + PWA</a>
      <br>
      <a href="https://indexable-shadow-pwa.herokuapp.com">Shadow Runtime</a>
    </div>
  </body>
</html>
