<div id="title-container">
  <h1>
    Indexable PWA
  </h1>

  <% if (ampRequested) { %>
    <span class="amp-flag">Is AMP</span>
  <% } else { %>
    <span class="amp-flag">Not AMP</span>
  <% } %>
</div>

<nav>
  <a href="/">Home</a>
  <a href="/content/ocean">Ocean</a>
  <a href="/content/mountains">Mountains</a>
  <a href="/content/desert">Desert</a>
</nav>
